.header {
  height: 90px;
  padding: 15px 20px;
  position: fixed;
    top: 0;
    z-index: 10;
  text-align: center;
  width: 100%;

  @media (max-width: 768px) {
    height: 65px;
    padding: 10px 20px;
  }

  img {
    height: 100%;
  }
}
