.home {
  position: relative;

  .title {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 40px;
    max-width: 440px;
    position: absolute;
      top: 150px;
      z-index: 2;

    @media (max-width: 768px) {
      max-width: 90%;
      padding: 10px 5%;
    }

    h1 {
      color: rgba(209, 17, 136, 1);
      font-family: 'robotoregular';
      font-size: 28px;
      letter-spacing: 0.05em;
      margin: 0;
      text-transform: uppercase;

      @media (max-width: 768px) {
        font-size: 20px;
        letter-spacing: 0.01em;
      }
    }
  }
}
