* { box-sizing: border-box; }

html,
body,
#app,
.content,
.main,
.page {
  height: 100%;
  width: 100%;
}

.main {
  padding: 0px 0 40px;

  @media (max-width: 768px) {
    padding: 0px 0 50px;
  }
}
